<!doctype html>
<html>
  <head>
    <title><%= json.project.title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" type="text/css" href="style.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <%= t.include("partials/_head.html") %>
  </head>
  
  <body is="responsive">

    <responsive-child>

    <div id="statement">
      The California Legislature debates and passes resolutions that, for instance, <span class="highlight" id="event"></span>
    </div>

    </responsive-child>

    <script>
      var resolutionsData = <%= JSON.stringify(csv.resolutions_data) %>;
    </script>
    <script src="app.js" async></script>
    <script src="http://projects.sfchronicle.com/shared/js/responsive-child.js"></script>
    <%= t.include("partials/_helloSFC.html") %>

  </body>
</html>
